<div class="head-container" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Books</h2>
    <mat-form-field appearance="fill">
        <mat-label>Sort by relevance</mat-label>
        <mat-select>
            <mat-option *ngFor="let s of sort" [value]="s.value">
                {{s.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div *ngFor='let book of  bookArray' class="content-card">
        <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../../assets/images/bookimage.png" class="bookImg" alt="">
        </div>
        <br>
        <div fxLayout="column" class="text">
            {{book.bookName}}
            <div class="author">
                {{book.author}}
            </div>
            <div class="price">
                {{book.price}}
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="buttons">
                <button mat-raised-button class="btn">ADD TO BAG</button>
                <button mat-raised-button class="btn1">WISHLIST</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>