<app-header></app-header>
<div class="maincontaintentItem">
    <div class="place">
        <div class="cardbox" fxLayoutAlign="start center">
            My card({{size_of_cartItems}})
        </div>
        <div fxLayout="row wrap" *ngFor="let book of bookArray">
            <div class="book">
                <img class="img1" src="../../../../assets/images/bookimage.png">
            </div>
            <div class="detail" fxLayout="column wrap">
                <span class="line1"> {{book.product_id.bookName}} </span>
                <span class="line2"> {{book.product_id.author}} </span>
                <span class="line1"> {{book.product_id.price}} </span>
                <div>
                    <i class="material-icons md-18 delete" (click)="deleteBookFromCart(book)">delete</i>
                </div>
            </div>
        </div>
        <div class="placebutton" fxLayout="row wrap" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="collapse(1)">PLACE ORDER</button>
        </div>
    </div>
    <div *ngIf='expand == 1'  class="undisplayed" fxLayoutAlign="start center">
        <span class="detaillabel" fxFlexOffset="5">
            Customer Details
        </span>
    </div>
    <div class="place" *ngIf='expand == 2' [formGroup]="form" >
        <div class="cardbox" fxLayoutAlign="start center">
            Customer Details
        </div>
        <div fxLayout="column wrap">
            <div class="cust-details" fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label> Name </mat-label>
                    <input formControlName="name" matInput type="text" placeholder="Enter Name" matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input formControlName="phoneNumber" matInput type="number" placeholder="Enter PhoneNumber" matInput required />
                </mat-form-field>
            </div>
            <div class="cust-details" fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label> Pincode </mat-label>
                    <input formControlName="pin" matInput type="number" placeholder="Enter Pincode" matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Locality </mat-label>
                    <input formControlName="locality" matInput type="text" placeholder="Enter Locality" matInput required />
                </mat-form-field>
            </div>
            <div class="cust-details" fxLayout="row wrap">
                <mat-form-field>
                    <mat-label> Address </mat-label>
                    <input formControlName="address" matInput type="text" placeholder="Enter Address" matInput required />
                </mat-form-field>
            </div>
            <div class="cust-details" fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label > City </mat-label>
                    <input formControlName="city" matInput type="text" placeholder="Enter city" matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label> State </mat-label>
                    <input formControlName="state" matInput type="text" placeholder="Enter State" matInput required />
                </mat-form-field>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="type">
                <mat-radio-button value="Home">Home</mat-radio-button>
                <mat-radio-button value="Office">Office</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="placebutton" fxLayout="row wrap" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="editOrderDetails()"> CONTINUE </button>
        </div>
    </div>
    <div *ngIf='expand2 == 1' class="summary" fxLayoutAlign="start center">
        <span class="detaillabel" fxFlexOffset="5">
            Order Summary
        </span>
    </div>
    <div class="place" *ngIf='expand1 == 2'>
        <div class="cardbox" fxLayoutAlign="start center">
            Order Summary
        </div>
        <div fxLayout="row wrap" *ngFor="let book of bookArray">
            <div class="book">
                <img class="img1" src="../../../../assets/images/bookimage.png">
            </div>
            <div class="detail" fxLayout="column wrap">
                <span class="line1"> {{book.product_id.bookName}} </span><br>
                <span class="line2"> {{book.product_id.author}} </span><br>
                <span class="line1"> {{book.product_id.price}} </span>
            </div>
        </div>
        <div class="placebutton" fxLayout="row wrap" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="ordersummary()"> CHECKOUT </button>
        </div>
    </div>
</div>
<app-footer></app-footer>