<app-header></app-header>
<div class="maincontaintentItem">
    <div class="place">
        <div class="cardbox" fxLayoutAlign="start center">
            My card({{size_of_cartItems}})
        </div>
        <div fxLayout="row wrap" *ngFor="let book of bookArray">
            <div class="book">
                <img class="img1" src="../../../../assets/images/bookimage.png">
            </div>
            <div class="detail" fxLayout="column wrap">
                <span class="line1"> {{book.product_id.bookName}} </span><br>
                <span class="line2"> {{book.product_id.author}} </span><br>
                <span class="line1"> {{book.product_id.price}} </span>
            </div>
        </div>
        <div class="placebutton" fxLayout="row wrap" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="collapse(1)">PLACE ORDER</button>
        </div>
    </div>
    <div *ngIf='expand == 1' class="undisplayed" fxLayoutAlign="start center">
        <span class="detaillabel" fxFlexOffset="5">
            Customer Details
        </span>
    </div>
    <div class="place" *ngIf='expand == 2'>
        <div class="cardbox" fxLayoutAlign="start center">
            Customer Details
        </div>
        <div fxLayout="column wrap">
            <div class="cust-details" fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label> Name </mat-label>
                    <input matInput type="text" placeholder="Enter Name" matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number" placeholder="Enter PhoneNumber" matInput required />
                </mat-form-field>
            </div>
            <div class="cust-details" fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label> Pincode </mat-label>
                    <input matInput type="number" placeholder="Enter Pincode" matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Locality </mat-label>
                    <input matInput type="text" placeholder="Enter Locality" matInput required />
                </mat-form-field>
            </div>
            <div class="cust-details" fxLayout="row wrap">
                <mat-form-field>
                    <mat-label> Address </mat-label>
                    <input matInput type="text" placeholder="Enter Address" matInput required />
                </mat-form-field>
            </div>
            <div class="cust-details" fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label> City </mat-label>
                    <input matInput type="text" placeholder="Enter city" matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label> LandMark </mat-label>
                    <input matInput type="text" placeholder="Enter LandMark" matInput required />
                </mat-form-field>
            </div>
        </div>
        <div class="placebutton" fxLayout="row wrap" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="collapse2()"> CONTINUE </button>
        </div>
    </div>
    <div *ngIf='expand2 == 1' class="summary" fxLayoutAlign="start center">
        <span class="detaillabel" fxFlexOffset="5">
            Order Summary
        </span>
    </div>
    <div class="place" *ngIf='expand1 == 2'>
        <div class="cardbox" fxLayoutAlign="start center">
            Order Summary
        </div>
        <div fxLayout="row wrap">
            <div class="book">
                <img class="img1" src="../../../../assets/images/bookimage.png">
            </div>
            <div class="detail" fxLayout="column wrap">
                <span class="line1"> Dont Me Make Think</span><br>
                <span class="line2"> by Steve Krug </span><br>
                <span class="line1"> Rs.1500</span>
            </div>
        </div>
        <div class="placebutton" fxLayout="row wrap" fxLayoutAlign="end end">
            <button mat-raised-button color="primary"> CHECKOUT </button>
        </div>
    </div>
</div>
<app-footer></app-footer>