<div class="main-container" >
    <header class="toolbar" >
        <div class="container"  fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxLayoutAlign="space-around center">
                <img src="../../../../assets/images/education.svg" alt="" class="image">
                <span class="text">BookStore</span>
            </div>
            <div >
                <input type="text" class="search" placeholder="Search">
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <figure fxLayout="column" fxLayoutAlign="center center" class="profilediv">
                    <img src="../../../../assets/images/user.svg" alt="profile" class="profileimg">
                    <figcaption class="profiletext">Profile</figcaption>
                </figure>
                <figure fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/supermarket.svg" alt="cart" class="cartimg">    
                    <figcaption class="carttext">Cart</figcaption>
                </figure>
            </div>
        </div>
    </header>
</div>