        <div class="head-container" fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Books</h2>
            <app-addbook></app-addbook>
        </div>
            <div class="container" fxLayout="row wrap" fxLayoutAlign="space-between center"> 
            <div *ngFor='let book of  bookArray' class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                        {{book.bookName}}
                    <div class="author">
                        {{book.author}}
                    </div>
                    <div class="price">
                        {{book.price}}
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <app-update-book [bookArray]="book"></app-update-book>
                        <app-delete-book [bookArray]="book"></app-delete-book>
                    </div>
                </div>
            </div>
        </div>
<app-footer></app-footer>