.container{
    border: 2px black;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    padding: 20px 10px 10px 10px;
    
}

.head-container{
    margin-left: 48px;
    margin-right: 54px;
}

.content-card{
    margin-top: 20px;
    top: 145px;
    left: 171px;
    width: 235px;
    height: 275px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
    margin-bottom: 5px;
    margin-right: 5px;
}

.imgCls{
    top: 146px;
    left: 172px;
    width: 233px;
    height: 135px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
    opacity: 1;
}

.bookImg{
    top: 163px;
    left: 239px;
    width: 100px;
    height: 110px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.text{
    margin-left: 20px;
    margin-top: 10px;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1
}

.author{
    margin-top: 4px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.price{
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

/* 
.updbtn{
    margin-top: 10px;
    margin-right: 2px;
}

.btn{
    background: #A03037;
    color: white;
}

.deletebtn{
    margin-left: 8px;
    margin-top: 10px;

} */

/* .btn{
    background: gray;
    color: whitesmoke;
} */

.abc{
    display: flex;
    justify-content: center center;
    align-items: flex-start;
    
}