<div class="main-container" fxLayout="column" fxLayoutAlign="center center" >
    <div class="container" fxLayout="column" >
        <div class="head-container" fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Books</h2>
            <app-addbook></app-addbook>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" >
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div class="abc" fxLayout="row" >
                        <app-update-book></app-update-book>
                        <!-- <div class="updbtn">
                            <button mat-raised-button class="btn">Update</button>
                        </div> -->
                        <app-delete-book></app-delete-book>
                        <!-- <div class="deletebtn">
                            <button mat-raised-button class="btn">Delete</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div class="abc" fxLayout="row" >
                        <app-update-book></app-update-book>
                        <!-- <div class="updbtn">
                            <button mat-raised-button class="btn">Update</button>
                        </div> -->
                        <app-delete-book></app-delete-book>
                        <!-- <div class="deletebtn">
                            <button mat-raised-button class="btn">Delete</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div fxLayout="row" >
                        <app-update-book></app-update-book>
                        <app-delete-book></app-delete-book>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div fxLayout="row" >
                        <app-update-book></app-update-book>
                        <app-delete-book></app-delete-book>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div fxLayout="row" >
                        <app-update-book></app-update-book>
                        <app-delete-book></app-delete-book>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div fxLayout="row" >
                        <app-update-book></app-update-book>
                        <app-delete-book></app-delete-book>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div fxLayout="row" >
                        <app-update-book></app-update-book>
                        <app-delete-book></app-delete-book>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/bookimage.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    Don't Make Me Think
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="price">
                        Rs. 1500
                    </div>
                    <div fxLayout="row" >
                        <app-update-book></app-update-book>
                        <app-delete-book></app-delete-book>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
