<app-header></app-header>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="../../../../assets/images/order.png" class="orderplaced" alt="orderplaced image">
    </div>
    <div class="orderplaced-msg">
        hurray!!! your order is confirmed 
        the order id is #123456 save the order id for 
        further communication..
    </div>
    <div class="details-table" fxLayout="row" fxLayoutAlign="center center">
        <table>
            <tr class="table-head">
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
            <tr class="table-body">
                <td>admin@bookstore.com</td>
                <td>+91 8163475881</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA 
                    complex, near Kumarakom restaurant, HSR Layout, 
                    Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <div >
        <button mat-raised-button class="button" (click)="continueshopping()">CONTINUE SHOPPING</button>
    </div>
</div>
<app-footer></app-footer>

