.orderplaced{
    margin-top: 75px;
    left: 598px;
    width: 300px;
    height: 225px;
}

.orderplaced-msg{
    margin-top: 2%;
    left: 506px;
    width: 354px;
    height: 66px;
    text-align: center;
    font: normal normal normal 18px/22px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}

.button{
    top: 25px;
    left: 15px;
    width: 200px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin-bottom: 34%;
}

.details-table,td{
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 25px;
}

.table-head{
    text-align: center;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    background:#DCDCDC;
}

.table-body{
    text-align: center;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}